<!DOCTYPE html>
<html>
<head>
  <title>Online Personal Training - Find an Online Personal Trainer Today</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="online personal training, online personal trainers, fitness trainers, personal trainers, personal training online, fitness plans">
  <meta name="description" content="Trainer.io is the leading marketplace to find online personal trainers. We match you up with experienced, pre-screened personal trainers offering online training services. We'll take the risk out of hiring an online trainer by screening your trainer and supporting your relationship. Trainers can get introduced to new clients looking for online personal training services. ">
  <meta name="author" content="Lennie Sliwinski">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46370931-1', 'trainerio.com');
  ga('send', 'pageview');

</script>
  
</head>
<body>


	<%= render 'layouts/header' %>




<%= render 'layouts/alerts' %>

  <%= yield %>

	<%= render 'layouts/footer' %>


</body>
</html>


